---
import Layout from '../layouts/Layout.astro';
import Card, { Props as CardData } from '../components/Card.astro';
import Job, { Props as JobData } from '../components/Job.astro';

const jobs: Array<JobData> = [
  {
    name: "Administrate",
    title: "Engineering Manager(Staff Engineer)",
    start: "November 2020",
    description: `
      Initially hired as a Full Stack Staff Engineer, but soon served as a team/clan lead,
      and then an engineering manager (tribe lead). Worked in Python/Typescript/React/PHP 
      Codebases to deliver value across the training and learning domains. 
    `,
    valueAdds: [
			"Consolidated CI and CD into GH Actions from disparate and in house built tooling, reducing time to deploy (ongoing).",
			"Delivered a usable subscription based learning experience for students.",
			"Aligned engineering teams to company OKRs, converting a detractor to a champion.",
			"Migrated all customers off a legacy LMS system to the most recent one, reducing waste and on going maintenace costs.",
			"Participated in the Front End Guild, leading the adoption of key practices and proposing technologies and patterns like Micro Front Ends",
			"Delivered an Embedded React Component utility to hasten the transition off legacy UIs.",
			"Introduced, evangelized, and used Structured Logs for better dashboards, and success metrics from AWS to Grafana."
    ]
  },
  {
    name: "Paycom",
    title: "Team Lead (Tools Team)",
    start: "May 2018",
    end: "November 2020",
    description: `
      Full Stack (PHP / C# / Typescript / React) Engineer and Team Lead delivering
      product value across multiple apps and domains from an OCR C# app to ingest data, a data pipeline
      into an ElasticSearch cluster with F#, a high performance notification service, and the
      notification settings area of the app for employees and managers.
    `,
    valueAdds: [
      "Pioneered and documented the initial standards of Helm Charts and k8s yaml for the k8s transition.",
      "Delivered a full typescript+react - C# backend within a PHP monolith delivering orders of magnitude performance (sub 50ms 99th response times).",
      "Delivered a bitbucket bot to automate shift left testing methodologies and processes leveraging k8s and ephemeral test environments.",
      "Piloted first containerization project with our C# Notifications API",
      "Added notification aggregation in a RMQ C# microservice, scaling to handle burst traffic (>30K msgs <1min) while adding aggregation feature.",
      "Showed value and deliver of each project through Splunk Dashboards."
    ]
  },
  {
    name: "Dorian Business Systems (-> Connexeo -> Vanco)",
    title: "Softwar Engineer",
    start: "January 2017",
    end: "May 2018",
    description: `
      Full Stack (JSCript / VBScript / NodeJS / Typescript / Javascript / PHP) Engineer.
      Worked on features of the main music organization software, CHARMS, used nationally
      across nearly all academic music programs. (Fun fact, I was in their databse from
      ensembles I performed during my school years as a Trumpet Player)
    `,
    valueAdds: [
      "Introduced a new full stack during an acquisition, consolidating all bespoke solo and ensemble projects, into a Typescript project.",
      "Delivered a full typescript+react - C# backend within a PHP monolith delivering orders of magnitude performance (sub 50ms 99th response times).",
      "Delivered a bitbucket bot to automate shift left testing methodologies and processes leveraging k8s and ephemeral test environments.",
      "Piloted first containerization project with our C# Notifications API",
      "Added notification aggregation in a RMQ C# microservice, scaling to handle burst traffic (>30K msgs <1min) while adding aggregation feature.",
      "Showed value and deliver of each project through Splunk Dashboards."
    ]
  }
];

const links: Array<CardData> = [
  {
		title: "Blog ✍️",
		tipPrefix: "blog",
		href: "https://sean.thenewells.us",
		body: "My personal blog, randomly updated with whatever I'm hacking away at."
	},
	{
		title: "Twitter 🐦",
		tipPrefix: "Twitter profile",
		href: "https://twitter.com/SirSeanOfLoxley",
		body: "My twitter profile where I tweet about tech and some other stuff."
	},
	{
		title: "DEV 💻",
		tipPrefix: "Dev profile",
		href: "https://dev.to/sirseanofloxley",
		body: "I cross post from my blog to DEV which is a community of software developers built on Forem."
	},
	{
		title: "Linked In",
		tipPrefix: "LinkedIn profile",
		href: "https://www.linkedin.com/in/sean-newell-7856a948/"
	},
	{
		title: "Stack Overflow",
		tipPrefix: "SO profile",
		href: "https://stackoverflow.com/users/2378943/sean-newell"
	},
	{
		title: "Github Repos",
		tipPrefix: "Github profile",
		href: "https://github.com/snewell92/"
	},
	{
		title: "Gitlab Repos",
		tipPrefix: "Gitlab profile",
		href: "https://gitlab.com/sNewell"
	}
];

---

<Layout title="👋 Sean Newell | Resume 📜">
  <div class="grid lg:grid-cols-[3fr,2fr,1fr] md:grid-cols-1">
		<main class="grid m-auto p-6 max-w-3xl items-start justify-start">
			<h1 class="text-7xl w-fit font-semibold bg-clip-text text-transparent bg-gradient-to-r from-lime-700 to-teal-500">Sean Newell</h1>

    	<section>
				<h2 class="text-4xl w-fit">Employement History</h2>
				<ol>
			  	{jobs.map(jobData => <Job {...jobData} />)}
				</ol>
			</section>

			<section class="mt-6">
				<h2 class="text-3xl w-fit mb-2">Skills & Proficiencies</h2>
				<h3 title="Underlined = Used at Work; Bolded = Shipped" class="cursor-help relative text-xl">Languages <span class="absolute inline-block text-center rounded-xl w-6 h-6 bg-stone-300 text-sm bottom-2">ℹ</span></h3>
				<ol title="Underlined = Used at Work; Bolded = shipped" class="cursor-help list-none [&>li]:inline pl-2">
				  <li class="underline font-bold">Typescript</li>,
				  <li class="underline font-bold">Javascript</li>,
				  <li class="underline font-bold">NodeJS</li>,
				  <li class="underline font-bold">C#</li>,
				  <li class="underline font-bold">Python</li>,
				  <li class="underline font-bold">SQL</li>,
				  <li class="underline font-bold">GQL</li>
				  <li class="underline font-bold">CSS</li>
				  <li class="underline font-bold">LESS</li>
				  <li class="underline font-bold">SASS</li>
				  <li class="underline font-bold">PHP</li>
				  <li class="underline font-bold">Java</li>,
				  <li class="underline font-bold">JScript</li>,
				  <li class="underline font-bold">LabView</li>,
				  <li class="font-bold">F#</li>,
				  <li class="font-bold">Elm</li>,
				  <li>Rust</li>,
				  <li>Haskell</li>
				</ol>
				<h3>Other</h3>
				<ol class="list-none [&>li]:inline [&>li]:text-sm pl-2">
				  <li>LEAN</li>
				  <li>Docker</li>
				  <li>AWS</li>
				  <li>Kubernetes (k8s)</li>
				  <li>CI/CD</li>
				  <li>Git</li>
				  <li>Webpack</li>
				  <li>Vite</li>
				  <li>React</li>
				  <li>Vue</li>
				  <li>SolidJS</li>
				  <li>Astro</li>
				  <li>Angular</li>
				  <li>AngularJS</li>
				  <li>Knockout</li>
				  <li>jQuery</li>
				  <li>GitHub</li>
				  <li>GH Actions</li>
				  <li>GH Pages</li>
				  <li>GitLab</li>
				  <li>Agile</li>
				  <li>Jira</li>
				  <li>Youtrack</li>
				  <li>TeamCity</li>
				  <li>Visual Studio</li>
				  <li>VSCode</li>
				  <li>Neovim</li>
				  <li>Vim</li>
				  <li>PHPStorm</li>
				  <li>IntelliJ</li>
				</ol>
			</section>

			<section class="mt-6">
				<details>
				  <summary class="text-md cursor-pointer">Show External Links</summary>
					<h2 class="text-black text-lg">Links & Online Presence</h2>
					<ul role="list" class="grid gap-2 grid-cols-[repeat(auto-fit,minmax(24ch,1fr))]">
					  {links.map(link => <Card {...link} />)}
					</ul>
				</details>
			</section>

		</main>
		<div class="grid justify-self-start content-baseline w-full">
      <svg class="pic grid m-auto w-11/12 max-w-4xl" viewBox="0 0 480 480">
        <clipPath id="blob-clip-1">
          <!-- SVG Path generated by https://10015.io/tools/svg-blob-generator -->
	        <path fill="rgba(0, 0, 0, 1)" d="M410.5,265.5Q354,291,363.5,339Q373,387,331.5,390Q290,393,258,385.5Q226,378,182,397.5Q138,417,138.5,365.5Q139,314,124,291Q109,268,80,234Q51,200,89.5,179.5Q128,159,137.5,119Q147,79,185,77Q223,75,256.5,80.5Q290,86,340,79.5Q390,73,389,123.5Q388,174,427.5,207Q467,240,410.5,265.5Z" />
        </clipPath>
        <image clip-path="url(#blob-clip-1)" xlink:href="sean.png" alt="Photo of Sean Newell smiling" height="100%" width="100%"/> 
      </svg>
		</div>
	</div>
</Layout>

<style>
.pic {
  background-image: radial-gradient(circle, #0891b2, #a5f3fc, #a5f3fc61 55%, #00808000 70%);
  background-position-x: left 12px;
}
</style>
