---
import { Image } from "@astrojs/image/components";
import Layout from '../layouts/Layout.astro';
import Card, { Props as CardData } from '../components/Card.astro';
import Job, { Props as JobData } from '../components/Job.astro';
import CollapsibleSection from '../components/CollapsibleSection.astro';
import seanImg from "../assets/sean.png";

const jobs: Array<JobData> = [
  {
    name: "Administrate",
    title: "Engineering Manager(Staff Engineer)",
    peopleManager: true,
    start: "November 2020",
    description: `
      Full Stack Staff Engineer turned Engineering Manager. Worked in Python/Typescript/React/PHP 
      cross functional teams delivering value across the training, learning, and core domains based on
      the team's area of ownership (tribe & clan ownership model). Primary API is a python GQL Api that
      coforms to the Relay Specification consumed by various clients, a combination of TS React Apps
      and node apis.
    `,
    valueAdds: [
			"Consolidated CI and CD into GH Actions from disparate and in house built tooling, reducing time to deploy by 50% (ongoing).",
			"Delivered a usable subscription based learning experience for students.",
			"Helped drive cycle times down to <5 calendar days.",
			"Migrated all customers off a legacy LMS system, reducing waste and on going maintenace costs.",
			"Participated in the Front End Guild, leading the adoption of key practices and proposing technologies and patterns like Micro Front Ends",
			"Delivered an Embedded React Component utility to hasten the transition off legacy UIs.",
			"Extended the custom field system to support a single field definition across multiple entities.",
			"Introduced, evangelized, and used Structured Logs for better dashboards, and success metrics from AWS to Grafana."
    ]
  },
  {
    name: "Paycom",
    title: "Team Lead",
    peopleManager: true,
    start: "May 2018",
    end: "November 2020",
    description: `
      Full Stack (PHP / C# / Typescript / React) Engineer and Team Lead delivering
      product value across multiple apps and domains from an OCR C# app to ingest data, a data pipeline
      into an ElasticSearch cluster with F#, a high performance notification service, and the
      notification settings area of the app for employees and managers.
    `,
    valueAdds: [
      "Pioneered and documented the initial standards of Helm Charts and k8s yaml for the k8s transition.",
      "Delivered a full typescript+react - C# backend within a PHP monolith delivering orders of magnitude performance (sub 50ms 99th response times).",
      "Delivered a bitbucket bot to automate shift left testing methodologies and processes leveraging k8s and ephemeral test environments.",
      "Piloted first containerization project with our C# Notifications API",
      "Added notification aggregation in a RMQ C# microservice, scaling to handle burst traffic (>30K msgs <1min) while adding aggregation feature.",
      "Showed value and deliver of each project through Splunk Dashboards."
    ]
  },
  {
    name: "Dorian Business Systems (-> Connexeo -> Vanco)",
    title: "Software Engineer",
    start: "January 2017",
    end: "May 2018",
    description: `
      Full Stack (JSCript / VBScript / NodeJS / Typescript / Javascript / PHP) Engineer.
      Worked on features of the main music organization software, CHARMS, used nationally
      across nearly all academic music programs. (Fun fact, I was in their databse from
      ensembles I performed during my school years as a Trumpet Player.)
    `,
    valueAdds: [
      "Introduced a new full stack during an acquisition, consolidating all bespoke solo and ensemble projects, into a Typescript project.",
      "Swapped sms/mms/phone provider to cut related costs by 50%."
    ]
  }
];

const links: Array<CardData> = [
  {
		title: "Blog ✍️",
		tipPrefix: "blog",
		href: "https://sean.thenewells.us",
		body: "My personal blog, randomly updated with whatever I'm hacking away at."
	},
	{
		title: "Twitter 🐦",
		tipPrefix: "Twitter profile",
		href: "https://twitter.com/SirSeanOfLoxley",
		body: "My twitter profile where I tweet about tech and some other stuff."
	},
	{
		title: "DEV 💻",
		tipPrefix: "Dev profile",
		href: "https://dev.to/sirseanofloxley",
		body: "I cross post from my blog to DEV which is a community of software developers built on Forem."
	},
	{
		title: "Linked In",
		tipPrefix: "LinkedIn profile",
		href: "https://www.linkedin.com/in/sean-newell-7856a948/"
	},
	{
		title: "Stack Overflow",
		tipPrefix: "SO profile",
		href: "https://stackoverflow.com/users/2378943/sean-newell"
	},
	{
		title: "Github Repos",
		tipPrefix: "Github profile",
		href: "https://github.com/snewell92/"
	},
	{
		title: "Gitlab Repos",
		tipPrefix: "Gitlab profile",
		href: "https://gitlab.com/sNewell"
	}
];

---

<style>
section#objectiveCard:hover {
  transform:
    rotateX(calc((var(--ratio-y) - 0.5) * 30deg))
    rotateY(calc((var(--ratio-x) - 0.5) * -15deg))
    scale(1.05);
}
</style>

<Layout title="👋 Sean Newell | Resume 📜">
  <div class="grid lg:grid-cols-[3fr,2fr] md:grid-cols-1">
		<main class="grid m-auto p-6 max-w-3xl items-start justify-start">
			<h1 class="text-7xl w-fit font-semibold bg-clip-text text-transparent bg-gradient-to-r from-lime-700 to-teal-500">Sean Newell</h1>

			<section id="objectiveCard" class="group mt-6 mb-8 rounded-md hover:rounded-2xl bg-stone-600 drop-shadow-lg shadow-md text-neutral-300 transform-gpu transition-all ease-linear duration-100 hover:drop-shadow-2xl hover:shadow-gray-600">
			  <a target="_blank" title="Mail To sean@thenewells.us" class="block w-full h-full p-4" href="mailto:sean@thenewells.us">
			    <div class="overlay"></div>
			    <p class="[&>b]:text-teal-400">
            A <b>passionate creator</b> and <b>servant leader</b> looking for a <b>Staff Software Engineer</b> role at a <b>product company</b> to make a <i>lasting</i> and <i>delightful</i> impact on users and my next team.
			    </p>
			    <p class="mt-4 italic group-hover:underline">Email me @ <span class="group-hover:text-teal-400 group-hover:[text-shadow:_0_0_15px_theme(colors.teal.300)]">sean@thenewells.us</span></p>
			  </a>
			</section>

			<script type="module">
			  const objectiveEl = document.getElementById("objectiveCard");

        const updateCssVar = ({ x, y }) => {
          const cardBoundingRect = objectiveEl.getBoundingClientRect();

          const horizontalPosition = x - cardBoundingRect.x;
          const verticalPosition = y - cardBoundingRect.y;

          const horizontalRatio = horizontalPosition / cardBoundingRect.width;
          const verticalRatio = verticalPosition / cardBoundingRect.height;

          objectiveEl.style.setProperty('--ratio-x', horizontalRatio);
          objectiveEl.style.setProperty('--ratio-y', verticalRatio);
        };

        objectiveEl.addEventListener('pointermove', updateCssVar);
        objectiveEl.addEventListener('pointerout', () => updateCssVar({x:0,y:0}));
			</script>

    	<section>
				<h2 class="text-4xl w-fit">Employement History</h2>
				<ol>
			  	{jobs.map(jobData => <Job {...jobData} />)}
				</ol>
			</section>

			<section class="mt-6">
				<h2 class="text-3xl w-fit mb-2">Skills & Proficiencies</h2>
				<h3 title="Underlined = Used at Work; Bolded = Shipped" class="cursor-help relative text-xl">Languages <span class="absolute text-center rounded-xl w-6 h-6 bg-stone-300 text-sm bottom-2 hidden md:inline-block">ℹ</span></h3>
				<span class="block md:hidden text-xs italic pl-1">Underlined signifies that I've used the language at work, whereas bold means I've shipped something with that tech (at work or otherwise).</span>
				<ol title="Underlined = Used at Work; Bolded = shipped" class="cursor-help list-none [&>li]:inline pl-2 mt-2">
				  <li class="rounded-lg bg-emerald-200 py-1 px-3 underline font-bold">Typescript</li>
				  <li class="rounded-lg bg-emerald-200 py-1 px-3 underline font-bold">Javascript</li>
				  <li class="rounded-lg bg-emerald-200 py-1 px-3 underline font-bold">C#</li>
				  <li class="underline font-bold">Python</li>
				  <li class="underline font-bold">SQL</li>
				  <li class="underline font-bold">GQL</li>
				  <li class="underline font-bold">CSS</li>
				  <li class="underline font-bold">LESS</li>
				  <li class="underline font-bold">SASS</li>
				  <li class="underline font-bold">PHP</li>
				  <li class="underline font-bold">HTML</li>
				  <li class="underline font-bold">YAML</li>
				  <li class="underline font-bold">Markdown</li>
				  <li class="underline font-bold">F#</li>
				  <li class="underline font-bold">Java</li>
				  <li class="underline font-bold">JScript</li>
				  <li class="underline font-bold">LabView</li>
				  <li class="font-bold">Elm</li>
				  <li class="font-bold">Ruby</li>
				  <li>Rust</li>
				  <li>Haskell</li>
				  <li>Lua</li>
				</ol>

        <CollapsibleSection initiallyOpen sectionClass="mt-1" summary="Other Technologies">
          <p class="text-sm pl-2">
            A list of frameworks, tools, methodologies - all the anciliiary 'things' one gets exposed to over the years as a software engineer.
          </p>

				  <ol class="list-none [&>li]:inline [&>li]:text-sm pl-2 mt-1">

				    <li>HTTP</li>
				    <li>REST</li>
				    <li>GraphQL</li>
				    <li>Relay</li>
				    <li>Microservices</li>

				    <li>Docker</li>
				    <li>docker-compose</li>
				    <li>Podman</li>
				    <li>Kubernetes (k8s)</li>
				    <li>Helm</li>

				    <li>AWS</li>
				    <li>Cloudformation (CF)</li>
				    <li>Digital Ocean</li>
				    <li>GCP</li>

				    <li>NodeJS</li>
				    <li>.NET</li>
				    <li>dotnet core</li>
				    <li>.NET Framework</li>

				    <li>NPM</li>
				    <li>Yarn</li>
				    <li>pnpm</li>
				    <li>NuGet</li>
				    <li>Cargo</li>
				    <li>bundle</li>
				    <li>composer</li>

				    <li>CI/CD</li>
				    <li>GH Actions</li>
				    <li>CircleCI</li>
				    <li>Gitlab CI</li>
				    <li>TeamCity</li>

				    <li>Git</li>
				    <li>SVN 💀</li>

				    <li>Vite</li>
				    <li>Webpack</li>
				    <li>Parcel</li>
				    <li>Snowpack</li>

				    <li>React</li>
				    <li>Vue</li>
				    <li>SolidJS</li>
				    <li>Astro</li>
				    <li>Angular</li>
				    <li>AngularJS</li>
				    <li>Knockout</li>
				    <li>Lit</li>
				    <li>jQuery</li>

				    <li>Bootstrap</li>
				    <li>Material UI (MUI)</li>
				    <li>Tailwind</li>

				    <li>Express</li>
				    <li>NextJS</li>
				    <li>FeathersJS</li>
				    <li>Flask</li>
				    <li>MVC</li>
				    <li>Web API</li>

				    <li>MySQL</li>
				    <li>Postgres</li>
				    <li>SQL Server</li>
				    <li>Entity Framework</li>
				    <li>Dapper</li>
				    <li>Sequelize</li>
				    <li>Prisma</li>
				    <li>SQLAlchemy</li>

				    <li>DI (Dependency Injection)</li>
				    <li>AutoMapper</li>

				    <li>Razor</li>
				    <li>Jinja</li>

				    <li>TDD</li>
				    <li>Jest</li>
				    <li>NUnit</li>
				    <li>Cypress</li>
				    <li>Selenium</li>

				    <li>GitHub</li>
				    <li>GH Pages</li>
				    <li>GitLab</li>
				    <li>Bitbucket</li>

				    <li>LEAN</li>
				    <li>Agile</li>
				    <li>Scrum</li>
				    <li>BDD</li>
				    <li>MVC</li>
				    <li>MVVM</li>
				    <li>DDD</li>
				    <li>FP</li>
				    <li>OOP</li>

				    <li>Jira</li>
				    <li>Youtrack</li>

				    <li>Vim</li>
				    <li>Neovim</li>
				    <li>VSCode</li>
				    <li>Visual Studio</li>
				    <li>PHPStorm</li>
				    <li>PyCharm</li>
				    <li>IntelliJ</li>

				    <li>Windows</li>
				    <li>MacOS</li>
				    <li>Linux</li>
				    <li>Ubuntu</li>
				    <li>Debian</li>
				    <li>NixOS</li>
				    <li>ElementaryOS</li>
				  </ol>
			  </CollapsibleSection>
			</section>

      <CollapsibleSection
        sectionClass="mt-6"
        summary="External Links"
      >
				<h2 class="text-black text-lg">Links & Online Presence</h2>
				<ul role="list" class="grid gap-2 grid-cols-[repeat(auto-fit,minmax(24ch,1fr))]">
					{links.map(link => <Card {...link} />)}
				</ul>
      </CollapsibleSection>

			<CollapsibleSection sectionClass="mt-5" summary="Credits & Attributions">
			  <p>This resume/cv's code is availabe on Github @ <a class="text-blue-500 hover:text-blue-300" target="_blank" href="https://github.com/snewell92/resume.github.io">snewell92/resume.github.io</a></p>
			  <p>This code uses the awesome meta framework <a class="text-blue-500 hover:text-blue-300" target="_blank" href="https://astro.build/">Astro</a> as an SSG.</p>
			  <p>The background svg pattern was generated by <a class="text-blue-500 hover:text-blue-300" target="_blank" href="https://www.svgbackgrounds.com/">SVGBackgrounds.com</a></p>
			  <p>The blob border-radius were made with <a class="text-blue-500 hover:text-blue-300" target="_blank" href="https://9elements.github.io/fancy-border-radius/">fancy border radius</a>, a rad tool by 9Elements.</p>
			</CollapsibleSection>

		</main>

		<div class="grid justify-self-start content-baseline w-full">
		  <div class="relative m-auto w-11/12 max-w-4xl group">
		    <a title="DM me on Twitter." target="_blank" href="https://twitter.com/messages/787361820-787361820?text=">
		      <div class="absolute w-full h-full bg-teal-400 transition-[border-radius] duration-300 ease-in-out group-hover:motion-safe:animate-warble rounded-[65%_35%_65%_35%_/_35%_65%_35%_65%]"></div>
          <Image class="relative m-auto rounded-[36%_64%_23%_77%_/_15%_37%_63%_85%]" src={seanImg} alt="Photo of Sean Newell smiling" format="webp" />
        </a>
      </div>
		</div>
	</div>
</Layout>

